
 <div ng-controller="submitController">
	 <div style="margin-top:250px;">
  <input type="file" id="file1" name="file" file-model="myFile" />
  <input type="button" ng-click="uploadFile()" value="Upload" />
	</div>
</div>
<script>
$(document).ready(function () {
	$('input[type=file]').change(function () {
		var val = $(this).val().toLowerCase();
		var regex  =  new RegExp("(.*?).(json)$");
		if(!(regex.test(val)))
		{
			$(this).val('');
			alert('Incorrect file selected!!');
		}
    });
});
</script>
