<div>
    <div nav-header></div>
</div>
<div class="containernav" id="top">
<div class="row">
    <div class="col-sm-2">
<div class="sidebar-nav" >
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<span class="visible-xs navbar-brand"></span>-->
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="project">
            <button type="button" class="btn btn-primary" id="myBtn1" ng-click="database()" style="width:90%">Auth</button>
        </a></li>
            <li> <a ui-sref=".database">
            <button type="button" class="btn btn-primary" id="myBtn1" ng-click="database()" style="width:90%">Database</button>
        </a></li>
            <li>  <a ui-sref=".storage">
            <button type="button" class="btn btn-primary" id="myBtn1" ng-click="storage()" style="width:90%">Storage</button>
        </a></li>
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
      <div class="col-sm-10">

    <ui-view>
        <div class="card1" ng-controller="authCtrl">
            <section>
                <section class="panel-body">
                    <h2>Athentication</h2>
                    <ul class="nav nav-tabs" ng-init="activeTab = 'details'">
                        <li ng-class="{ active: activeTab === 'details' }">
                            <a ng-click="activeTab = 'details'" ui-sref="project">User</a>
                        </li>
                        <li ng-class="{ active: activeTab === 'options' }">
                            <a ng-click="activeTab = 'options'" ui-sref="project">Sign-In Method</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{ active: activeTab === 'details' }">
                            <div class="container111">
                                <p align="right">
                                    <button type="button" class="btn btn-primary" id="myBtn" ng-click="storage()" ng-disabled="style1 != true">New User</button></p>


                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <!--<div class="modal-header" >
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>-->
                                            <div class="modal-body">
                                                <form method="post">
                                                    <div class="form-group">
                                                        <h2>Add an Email/Password user </h2>
                                                        Email<br>
                                                        <input type="text" class="form-control" id="email" ng-model="email">
                                                        <br> Password
                                                        <br>
                                                        <input type="text" class="form-control" id="pwd" ng-model="pwd"><br>
                                                        <button type="submit" ng-click="create()" class="btn btn-success btn-block" data-dismiss="modal"> Add User</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="info">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Created</th>
                                            <th>Sign In</th>
                                            <th>User UID</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user1 in user12 track by $index" >
                                          
                                            <td>{{user1.email}}</td>
                                            <td>{{user1.date}}</td>
                                            <td>{{user1.date}}</td>
                                            <td>{{user1.Uid}}</td>

                                        </tr>



                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <div class="tab-pane" ng-class="{ active: activeTab === 'options' }">
                            Sign-in providers
                            <div class="info">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Providers</th>
                                            <th>Status</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i> Email/Password
                                            </td>
                                            <td>
                                                <switcher class="styled" ng-model="style1" ng-change="onChange(newValue, oldValue)" true-label="Enabled" false-label="Disabled">
                                                </switcher>
                                            </td>
                                            <td>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-github" aria-hidden="true" style="color:black"></i> GitHub</td>
                                            <td>
                                                <button class=" button Gray1" id="myBtn1" ng-click="git()">{{dis}}</button>
                                                   
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-google-plus" style="color:red"></i> Google</td>
                                            <td>  <button class=" button Gray1" id="myBtn" ng-click="google()">{{dis1}}</button></td>
                                          
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    
        <script>
    $(document).ready(function() {
        $("#myBtn").click(function() {
            $("#myModal").modal();
        });
    });
</script>
    </ui-view>
 </div>
</div>
</div>